<section class="exchangeInput">
    <label for="plnToExchange">PLN:</label>
    <input type="number" min="0" value="1" name="plnToExchange" class="plnToExchange"
        onchange="selectedPln(this.value)">
    <div class="input-field">

        <select name="currency" class="selectedCurrency" onchange="selectedCurrency(this.value)">
            <option value="" selected>wybierz walutę</option>
            {{#each currencyRates}}
            <option value="{{code}}">{{code}}</option>
            {{/each}}
        </select>
        <label for="currency">wynik:</label>
    </div><input type="number" value="" class="resultToExchange">
</section>

{{#each currencyRates}}
<section class="specificCurrency">
    <p class="polishCurenncy">Polski złoty</p>
    <p class="polishCurrencyQuantity">1</p>
    <p class="shortPolishCurrency">PLN</p>
    <p class="equals">=</p>
    <p class="foreginCurrency">{{currency}}</p>
    <p class="foreginQuantity">{{mid}}</p>
    <p class="foreginCurrencyName">{{code}}</p>
</section>
{{/each}}